/* 글씨체 */
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

/* ========= 공통 설정 ========= */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poor Story";
  background-color: #e9f8ff;
}
li {
  float: left;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.et {
  width: 1600px;
  margin: 0 auto;
}

.header {
  margin-top: 0;
  width: 1340px;
  height: 400px;
  background-color: #47bae7;
}

/* blind 숨김 설정 */
.blind {
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-size: 0px;
  top: -99999px;
  position: absolute;
  overflow: hidden;
}

/* 우측상단 로그인 */
.login {
  width: 230px;
  height: 0px;
  float: right;
}

.login_list li {
  margin-left: 9px;
  margin-top: 17px;
  display: inline;
  font-size: 20px;
  position: relative;
}

.login_button {
  background: linear-gradient(to bottom, #8aa0b8 5%, #476e9e 100%);
  background-color: #8aa0b8;
  border-radius: 28px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2b3e70;
}
.login_button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #8aa0b8 100%);
  background-color: #476e9e;
}
.login_button:active {
  position: relative;
  top: 1px;
}

/* 중앙 로고배너 이미지 */
.logo {
  margin-top: -21px;
  margin-left: 520px;
  width: 300px;
  height: 340px;
}

/* 상단 카테고리 */
.category {
  width: 370px;
  height: 35px;
  text-align: center;
  display: inline-block;
  background-color: #1a5d97;
  margin-left: 485px;
}

.category_list {
  width: 500px;

  margin: auto;
}
.category_list a {
  color: #fffaed;
}

.category_list li {
  font-size: 15px;
  margin: 7px 38px;
}

/* =============== Community Section =============== */

/* community_wrap */
.commu_section {
  position: relative;
  width: 1340px;
  height: 1240px;
  margin: 0 auto;
  background-color: #d3e9fc;
}

.commu_wrap {
  width: 1300px;
  height: 1220px;
  padding-top: 50px;
  margin-left: 20px;
}

/* community_box */
.commu_btnbox {
  margin-right: 50px;
  margin-bottom: 10px;
}

#commu_wr {
  float: right;
  width: 50px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #29367c;
  background-color: #fff;
  margin-bottom: 5px;
}

#commu_wr:hover {
  background-color: #29367c;
  color: #fff;
  cursor: pointer;
}

.commu_box {
  width: 1200px;
  margin: 10px 50px;
  border-top: 1px solid #29367c;
  border-bottom: 1px solid #29367c;
}

#commu_head {
  background-color: #cee1f2;
}

#commu_info {
  background-color: #e9f8ff;
  border-top: 1px solid #29367c;
}

/* community_list */
.commu_page_wrap {
  margin-left: 400px;
}
.commu_page_box > a,
.commu_page_box > span {
  display: inline-block;
  margin: 10px 20px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #000;
}

.commu_page_box > a:hover,
.commu_page_box span:hover {
  text-decoration-line: underline;
}

/* Community search */
fieldset {
  display: block;
  border: none;
  width: 700px;
  margin-left: 290px;
}

.commu_search_wrap {
  position: relative;
}

#search_type {
  width: 100px;
  height: 27px;
  vertical-align: middle;
  float: left;
  margin-left: 70px;
  border: 2px solid #29367c;
  border-radius: 50px;
  text-align: center;
  background-color: #fff;
  /* background: transparent; */
}

.select_area .inner {
  float: left;
}

.commu_search_wrap section {
  display: none;
  position: relative;
  float: left;
}

/* 검색 기능 */
.commu_search {
  float: right;
  width: 500px;
}

/* 검색 창 */
.inner_search .inner_keyword {
  width: 400px;
  height: 20px;
  float: left;
  border: 2px solid #29367c;
  padding: 1px;
}

/* 검색 버튼 */
#commu_search_btn {
  float: right;
  width: 50px;
  height: 25px;
  margin-right: 35px;
  border: 2px solid #29367c;
  background-color: #fff;
  border-radius: 50px;
}

#commu_search_btn {
  vertical-align: 50px;
}

#commu_search_btn:hover {
  background-color: #29367c;
  color: #fff;
  cursor: pointer;
}
/* =============== Footer Section =============== */

/* footer 텍스트 */
.footer {
  width: 1200px;
  color: #023059;
}

#bottomIcon {
  font-size: 15px;
  font-weight: bold;
}

#icon1 {
  vertical-align: bottom;
}
#icon2 {
  vertical-align: bottom;
}

.info1 {
  width: 600px;
  float: left;
}

.info2 {
  width: 500px;
  float: right;
  text-align: right;
}
