/* �۾�ü */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* ================ ���� ���� ================ */
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Jua';
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 252, 240, 1) 35%,
    #b7e8eb 100%
  );
}

/* ��ũ�� ������ */
::-webkit-scrollbar {
  display: none;
}

.view_main {
  position: relative;
  z-index: 3;
}

li {
  float: left;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ��� ������ �ʿ��� �κ� */
.et {
  width: 1200px;
  margin: 0 auto;
}

/*=============================================*/

/*=============== �ٵ� �ִϸ��̼� ================*/
/* �ĵ����̺� �� ���ǹڽ� */
.ocean {
  height: 500px;
  width: 2000px;
  margin-left: -10px;
  position: relative;
  left: 0;
  bottom: 500px;
  background: #015871;
  z-index: 1;
}

/*�ٵ� �ĵ����̺� ����*/
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 2;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/*====================================================*/

/*=========== ���(�ΰ�, �α��� �� ī�װ�) ============*/

.header {
  width: 940px;
  height: 430px;
}

/* �α��� ����Ʈ */
.login_list {
	float: right;
}

.login_list li{
	width: 40px;
	margin-left: 10px;
}

.login_list li img {
	width: 40px;
	height: 40px;
}

.login_list li p {
	margin-top: -10px;
	margin-left: 6px;
	color: #015871;
}


/* Ŀ�´�Ƽ, �Ұ� ī�װ�*/
.category {
  width: 260px;
  height: 40px;
  margin: 0 auto;
  background-color: rgba(236, 231, 211, 0.5);
  border-radius: 20px;
}

.category_list{
	margin-left: 30px;
}

.category_list li {
	color: red;
	width: 100px;
	height: 30px;
  display: inline;
  margin-top: 5px;
  font-size: 20px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.category_list li a{
		color: rgb(1, 88, 113);

	}


.category_list li:hover {
  background-color: rgb(228, 217, 203);
}


/* �ΰ��� */
.logo {
  width: 300px;
  height: 340px;
}
/* =============== Content Section =============== */

/* content_wrap */
#frm {
	
	position: relative;
	margin: 0 auto;
}

.content_section {
	position: relative;
	width: 1340px;
	height: 1240px;
	margin: 0 auto;
}

.content_section header {
	height: 50px;
	width: 1300px;
	margin-left: 20px;
	padding-top: 100px;
	margin-bottom: 50px;
}

.content_head {
	position: relative;
}

.head_fi {
	margin-left: 80px;
	margin-bottom: 30px;
}

.head_fr {
	float: left;
}

.head_fr h2 {
	padding-top: 35px;
	font-size: 30px;
	margin-left: 100px;
}

/* 취소, 등록 버튼 */
.head_btn {
	float: right;
	margin-top: 60px;
	margin-right: 100px;
}

.head_btn #cancel {
	width: 70px;
	height: 40px;
	font-size: 17px;
	border: 2px solid #29367c;
	text-align: center;
	background-color: #29367c;
	color: #fff;
	cursor: pointer;
}

.head_btn #update {
	width: 70px;
	height: 40px;
	font-size: 17px;
	border: 2px solid #29367c;
	text-align: center;
	background-color: #fff;
	color: #29367c;
	cursor: pointer;
}

/* 글쓰기 콘텐츠 구문 */
.content_wrap {
	margin-top: 60px;
}

.content_wrap form {
	border-top: 5px solid #023059;
	border-left: 2px solid #8aa0b8;
	border-bottom: 2px solid #8aa0b8;
	border-right: 2px solid #8aa0b8;
	width: 1100px;
	height: 760px;
	margin-left: 120px;
	margin-top: 50px;
}

.content_tb {
	margin-top: 30px;
	width: 1000px;
}

.subject_frm {
	width: 900px;
}

.subject_frm td {
	display: block;
}

.subject_frm #subject {
	width: 900px;
	margin-left: 100px;
	height: 35px;
	font-size: 15px;
}

.content_frm {
	display: block;
	margin-top: 30px;
	margin-left: 100px;
}

#content {
	width: 950px;
	height: 500px;
	font-size: 15px;
	margin: 0 auto;
}

.content_co {
	margin-top:30px;
	width: 956px;
	height: 506px;
}

.content_main {
	margin: 0 auto;
	width: 956px;
	height: 506px;
}
/* ================ ǲ��(����) ===============*/
.footer {
  width: 1200px;
  height: 300px;
  color: rgb(255, 252, 240);
}

.info {

  width: 500px;
margin: 0 auto;
margin-top: 200px;
  text-align: center;
}

/*====================================================*/