/* Set the size of the div element that contains the map */
#map {
  height: 510px; /* The height is 400 pixels */
  width: 445px; /* The width is the width of the web page */
  margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* ========= 공통 설정 ========= */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poor Story';
  background-color: #e9f8ff;
}

::-webkit-scrollbar {
  display: none;
}


li {
  float: left;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
	padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.et {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 940px;
  height: 400px;
  background-color: #47bae7;
}

/* 우측상단 로그인 */
.login {
  width: 230px;
  height: 0px;
  float: right;
}

.login_list li {
  margin-left: 9px;
  margin-top: 17px;
  display: inline;
  font-size: 20px;
  position: relative;
}

.login_button {
  background: linear-gradient(to bottom, #8aa0b8 5%, #476e9e 100%);
  background-color: #8aa0b8;
  border-radius: 28px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2b3e70;
}
.login_button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #8aa0b8 100%);
  background-color: #476e9e;
}
.login_button:active {
  position: relative;
  top: 1px;
}

/* 중앙 로고배너 이미지 */
.logo {
  width: 300px;
  height: 340px;
}

/* 상단 카테고리 */
.category {
  width: 370px;
  height: 35px;
  text-align: center;
  display: inline-block;
  background-color: #1a5d97;
  margin-left: 31%;
}

.category_list {
  width: 500px;

  margin: auto;
}
.category_list a {
  color: #fffaed;
}

.category_list li {
  font-size: 15px;
  margin: 7px 38px;
}

/* 여행지 추천 박스 */
.trand_slide_box {
  width: 940px;
  height: 210px;
  background-color: #d3e9fc;
  margin: 0 auto;
  padding-top: 25px;
}

/* 여행지 추천 타이틀 */
#trand_slide_title {
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  margin: 0px auto;
  color: #2f608d;
  font-weight: bold;
}

/* 여행지 추천 슬라이드 */
.trand_slide {
  width: 930px;
  height: 210px;
  position: relative;
  margin: 0px auto;
  margin-top: -10px;
  overflow: hidden;
}

.trand_slide_list {
  position: absolute;
  left: 0;
  top: 0;
  width: 3000px;
  margin-left: 13px;
  transform: left 0.5s ease-out;
}

.trand_slide_list li {
  width: 226px;
  float: left;
  text-align: center;
}

/* slide controller */
.trand_slide_controller span {
  position: absolute;
  color: black;
  text-align: center;
  padding: 10px 10px;
  top: 20%;
  font-size: 30px;
  cursor: pointer;
}

.next {
  right: 0px;
}

/* section(map, list) */
.section {
  width: 940px;
  height: 600px;
  margin: 0 auto;
}

/* map */
.map_box {
  float: left;
  width: 460px;
  height: 515px;
  padding-top: 8px;
  margin-left: -2px;
  background-color: #d3e9fc;
}

/* list */
.list_box {
  width: 460px;
  height: 525px;
  background-color: #d3e9fc;
  margin-top: 10px;
  margin-left: 476px;
}

.list {
  /* li가 가운데 정렬안됌 */
  width: 460px;
  height: 525px;
  margin-left: 5px;
  overflow: scroll;    
}

.list > li {
  width: 448px;
  height: 94px;
  margin-top: 10px;
  background-color: #feffff;
  overflow: hidden;  
}

.list > li > a {
  text-decoration: none; color: #023059;
}

.list > li > a > img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 94px;

}

.list > li > a > h4 {
  margin-top: 7px;
  margin-bottom: -7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
} 

.list > li > a > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 14px;
}

/* footer 텍스트 */
.footer {
  width: 1200px;
  color: #023059;
}

#bottomIcon {
  font-size: 15px;
  font-weight: bold;
}

#icon1 {
  vertical-align: bottom;
}
#icon2 {
  vertical-align: bottom;
}

.info1 {
  width: 600px;
  float: left;
}

.info2 {
  width: 500px;
  float: right;
  text-align: right;
}
