<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  DB 테이블명 : kakao_login -->
<mapper namespace="user">
	<insert id="user_insert" parameterType="com.ezentravel.DTO.UserDTO">
		INSERT INTO kakao_login (id, nickname, email, gender, age_range, profile)
		VALUES ( #{id}, #{nickname}, #{email}, #{gender}, #{age_range}, #{profile} )
	</insert>
</mapper> 