@charset "UTF-8";

/* =============== Community Section =============== */
/* blind 숨김 설정 */
.blind {
	visibility: hidden;
	width: 0px;
	height: 0px;
	font-size: 0px;
	top: -99999px;
	position: absolute;
	overflow: hidden;
}
/* community_wrap */
.commu_section {
	position: relative;
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
}

/* board_btn */
.board_btn {
	margin-bottom: 10px;
}

#write {
	width: 80px;
	height: 30px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid 29367c;
	font-size: 15px;
	text-align: center;
}

#write:hover {
	background-color: #29367c;
	color: #fff;
	cursor: pointer;
}

.board_wrap {
	width: 1300px;
	height: 1220px;
	padding-top: 50px;
	margin-left: 150px;
}

.board_box {
	width: 950px;
	margin-top: 10px;
	margin-right: 100px;
	border-top: 1px solid #29367c;
	border-bottom: 1px solid #29367c;
	border-top: 1px solid #29367c;
}

#board_head {
	background-color: #cee1f2;
}

#board_info {
	background-color: #e9f8ff;
	border-top: 1px solid #29367c;
	text-align: center;
}

/* community_list */
.board_list {
	width: 950px;
	margin-top: 10px;
	text-align: center;
}

.board_list>a, .board_list>span {
	display: inline-block;
	margin: 10px 20px;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #000;
}

.board_list_box {
	margin-left: auto;
	width: auto;
}

.board_list>a:hover, .board_list span:hover {
	text-decoration-line: underline;
}

/* Community search */
fieldset {
	display: block;
	border: none;
	margin-left: 170px;
	margin-top: 50px;
}

.commu_search_wrap {
	position: relative;
}

.search_type {
	width: 100px;
	height: 27px;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
	border: 2px solid #29367c;
	border-radius: 50px;
	text-align: center;
	background-color: #fff;
}

/* 검색 기능 */
.board_search_box {
	float: left;
	width: 500px;
}

/* 검색 창 */
.inner_search {
	float: left;
}

.inner_search .inner_keyword {
	width: 400px;
	height: 20px;
	float: left;
	border: 2px solid #29367c;
	padding: 1px;
}

/* 검색 버튼 */
.board_search_btn {
	float: right;
	width: 50px;
	height: 25px;
	margin-right: 35px;
	border: 2px solid #29367c;
	background-color: #fff;
	border-radius: 50px;
}

.board_search_btn {
	vertical-align: 50px;
}

.board_search_btn:hover {
	background-color: #29367c;
	color: #fff;
	cursor: pointer;
}
/*====================================================*/