/* Set the size of the div element that contains the map */
#map {
  height: 650px; /* The height is 400 pixels */
  width: 550px; /* The width is the width of the web page */
  margin: 0 auto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
